
# Application specific files
venv/
node_modules/

btop/
clash*
github-copilot*
iterm2/
tmux/plugins/
gh/
# github merge file
*.orig

#vscode 
.vscode/

# Folder view configuration files
.DS_Store
Desktop.ini

.idea/

# env version
.python-version
.lua-version
.go-version

